@inherits LayoutComponentBase

<div class="empty-layout-container">
    @Body
</div>

<style>
    .empty-layout-container {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>
