@using OperationalWorkspaceUI.Components.Pages.Workspace.WorkspaceComponents
<!-- CODE START: Components/Layout/RightPanel.razor -->
<div class="right-panel">
    <WorkspaceSummaryPanel />
</div>
<!-- CODE END -->
