@using OperationalWorkspaceUI.State
@inject UIState UIState

<div class="topbar">
    <h2>@UIState.CurrentPageTitle</h2>

    <GlassModeToggle IsGlass="@UIState.IsGlassMode"
                     OnChanged="UIState.ToggleGlassMode" />
</div>