@inject DashboardState State

<div class="dashboard-panel crm-panel">
    <h4>CRM Overview</h4>
    <div class="panel-content">
        @* Update from CRMData to AdminCrm *@
        <KpiWidget Label="Active Customers" Value="@State.AdminCrm.ActiveCustomers" />
        <KpiWidget Label="Opportunities" Value="@State.AdminCrm.OpenOpportunities" />
    </div>
</div>
