@inject DashboardState State

<div class="dashboard-panel finance-panel">
    <h4>Finance</h4>
    @* Update from FinanceData to AdminFinance *@
    <KpiWidget Label="Receivables" Value="@State.AdminFinance.TotalOutstandingReceivables" Prefix="$" />
    <KpiWidget Label="Monthly Sales" Value="@State.AdminFinance.TotalSalesThisMonth" Prefix="$" />
</div>
